.container h1 {
    font-size: 1.25rem;
    font-weight: bold;
    margin-bottom: 1.25rem;
    text-wrap: pretty;
  }
  
  .container h2 {
    font-size: 1.125rem;
    font-weight: 700;
    margin-bottom: 1.125rem;
    text-wrap: pretty;
  }
  
  .container h3 {
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
    text-wrap: pretty;
  }

  .container h4 {
    font-size: 0.875rem;
    font-weight: bold;
    margin-bottom: 0.4rem;
    text-wrap: pretty;
  }
  
  .container p {
    margin-bottom: 0.875rem;
    font-size: 1rem;
    font-weight: 500;
    line-height: 2rem;
    text-wrap: pretty;
  }
  
  .container a {
    color: #cf4242ad;
    text-decoration: underline;
  }
  
  .container a:hover {
    color: #ec7d7d7e;
  }
  
  .image {
    border-radius: 0.5rem;
    margin-bottom: 1.5rem;
  }
  